<% include ../partials/header %>


<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to YayCamp</h1>
            <p>View our handpicked campgrounds !</p>
            <p>
                <a class="btn btn-primary btn-lg" href="/campgrounds/new">Add new campgrounds</a>
            </p>
        <div class="container">
    </header>

    <div class="row text-center" style="display:flex; flex-wrap: wrap;" >
       <% campgrounds.forEach(function(cg){ %>
           <div class="col-md-3 col-sm-6">
               <div class="thumbnail">
                    <img src="<%=cg.image%>"/>
                    <div class="caption">
                        <h4><%=cg.name %></h4> 
                    </div>
                    <p>
                        <a href="/campgrounds/<%= cg._id %>" class="btn btn-primary">More info</a>
                    </p>
               </div>
               
             
            
           </div>
       <%  });  %>  
    </div>

    

    
    
</div>


 
 <% include ../partials/footer %>